<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>로그인</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
   <!-- Responsive-->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css')}}">
   <!-- fevicon -->
   <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/gif">
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css')}}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
   <style>
      body {
         background-color: white;
      }
   </style>

</head>



<!-- body -->

<body class="main-layout inner_page">
   <!-- loader  -->
   <div class="loader_bg">
      <div class="loader"><img src="{{ url_for('static', filename='images/loading.gif') }}" alt="#" /></div>
   </div>
   <!-- end loader -->
   <!-- header -->
   <header class="full_bg">
      <!-- header inner -->
      <div class="header">
         <div class="header_top">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">

                  </div>
                  <div class="col-md-6">

                  </div>
                  <div class="col-md-3">
                     <ul class="contat_infoma text_align_right">
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="header_bottom">
                     <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                           <div class="full">
                              <div class="center-desk">
                                 <div class="logo">
                                    <a href="index.html">INI</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                           <nav class="navigation navbar navbar-expand-md navbar-dark ">
                              <button class="navbar-toggler" type="button" data-toggle="collapse"
                                 data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
                                 aria-label="Toggle navigation">
                                 <span class="navbar-toggler-icon"></span>
                              </button>
                              <div class="collapse navbar-collapse" id="navbarsExample04">
                                 <ul class="navbar-nav mr-auto">
                                    <li class="nav-item ">
                                       <a class="nav-link" href="index.html">홈</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link" href="project.html">결함 탐지하기</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link" href="contact.html">결함 제품 모아보기</a>
                                    </li>
                                    <li class="nav-item active">
                                       <a class="nav-link" href="login.html">로그인</a>
                                    </li>
                                 </ul>
                              </div>
                              <ul class="search">
                                 <li><a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a>
                                 </li>
                              </ul>
                           </nav>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
   </header>
   <!-- end banner -->
   <div class="back_re">
      <div class="container">
         <div class="row">
            <div class="col-md-12">

            </div>
         </div>
      </div>
   </div>
   <!-- about -->

   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

   <div class="login">
      <div class="login__content">
         <div class="login__img">
            <img src="{{ url_for('static', filename='images/login_image.png') }}" alt="user login">
         </div>
            <!-- login form -->
            
            <form method="POST" action="/login" class="login__register" id="login-in">
               <h1 class="login__title">Sign In</h1>
               <!--from method="POST action="/login"> 추가 했습니다. -->
               {% with messages = get_flashed_messages() %}
                  {% if messages %}
                     <div class="alert alert-danger">
                        <ul>
                           {% for message in messages %}
                              <li>{{ message }}</li>
                           {% endfor %}
                        </ul>
                     </div>
                  {% endif %}
               {% endwith %}
               <form method="POST" action="/login">
                    <div class="login__box">
                        <i class='bx bx-user login__icon'></i>
                        <input type="text" placeholder="Employee ID" class="login__input" name="Employee ID" required>
                    </div>
                    <div class="login__box">
                        <i class='bx bx-lock login__icon'></i>
                        <input type="password" placeholder="Password" class="login__input" name="Password" required>
                    </div>
                    <a href="#" class="login__forgot">Forgot Password? </a>
                    <!--원래 href 쓰셨는데 위의 정보들을 저장하려면 type="submit"를 사용하는 방법밖에 제가 몰라서 input 형식으로 바꿨는데 반영해주시면 감사합니다 .. -->
                    <input type="submit" value="Sign In" class="login__button" style="display: block; margin: 0 auto; text-align: center; width: 200px;">

                    <div>
                        <span class="login__account login__account--account">Don't Have an Account?</span>
                        <span class="login__signup login__signup--signup" id="sign-up">Go Sign Up</span>
                    </div>
                </form>
            </form>


            <!--         create account form -->
            <form method="POST" action="/register" class="login__create none" id="login-up">
               <h1 class="login__title">Create Account</h1>
               <form method="POST" action="/register">
                    <div class="login__box">
                        <i class='bx bx-user login__icon'></i>
                        <input type="text" placeholder="Username" class="login__input" name="username" required>
                    </div>

                    <div class="login__box">
                        <i class='bx bx-at login__icon'></i>
                        <input type="text" placeholder="Employee ID" class="login__input" name="Employee ID" required>
                    </div>

                    <div class="login__box">
                        <i class='bx bx-lock login__icon'></i>
                        <input type="password" placeholder="Password" class="login__input" name="Password" required>
                    </div>

                    <input type="submit" value="Sign up" class="login__button" style="display: block; margin: 30px auto 0; text-align: center; width: 200px;">
                    
                </form>

               <div>
                  <span class="login__account login__account--account">Already have an Account?</span>
                  <span class="login__signup login__signup--signup" id="sign-in">Go Sign In</span>
               </div>

            </form>
         </div>
      </div>
   </div>

   <script>
      (function () {
         var loginForm = document.getElementById('login-in');
         var loginButton = document.querySelector('.login__button');

         loginButton.addEventListener('click', function (event) {
            var employeeID = loginForm.querySelector('input[name="Enter your ID"]');
            var password = loginForm.querySelector('input[name="Enter your Password"]');

            if (employeeID.value === '' || password.value === '') {
               event.preventDefault();
               alert('정보를 모두 입력하세요.');
            }
         });
      })();
   </script>

   <!-- end about -->
   <!--  footer -->
   <!-- end footer -->
   <!-- Javascript files-->

   <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
   <!-- login -->
   <script src="{{ url_for('static', filename='js/login.js')}}"></script>
</body>

</html>